* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  font-family: Trattatello, fantasy;
  font-size: 20px;
  padding: 50px;
}
h1 {
  font-size: 50px;
}
/* dot for classes */
.first {
  font-style: italic;
}
/* # for ids */
#second {
  border: #000000 10px solid;
  font-style: oblique;
  padding: 5%;
  margin: 5%;
  background-color: blanchedalmond;
}

#second h3 {
  color: blue;
}
#image {
  width: 300px;
}
